<div class="flex flex-col ">
    <app-auth-nav style="z-index: 35;;"></app-auth-nav>
    <aside style="z-index: 32;"><app-side-bar></app-side-bar></aside>
</div>
<div class="p-4 sm:ml-64">

    <div
        class="flex flex-wrap items-center justify-center overflow-auto gap-2.5 p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">

        <div class="p-0 flex w-full overflow-auto">
            <div class="p-8 w-full bg-white shadow mt-10 overflow-auto ">
                <div class="grid grid-cols-1 md:grid-cols-3">
                    <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-10">
                        <!-- <div>
                            <p class="font-bold text-gray-700 text-xl">22</p>
                            <p class="text-gray-400">Friends</p>
                        </div>
                        <div>
                            <p class="font-bold text-gray-700 text-xl">10</p>
                            <p class="text-gray-400">Photos</p>
                        </div>
                        <div>
                            <p class="font-bold text-gray-700 text-xl">89</p>
                            <p class="text-gray-400">Comments</p>
                        </div> -->
                    </div>
                    <div class="relative bottom-14">
                        <div
                            class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0  flex items-center justify-center text-indigo-500">
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                    clip-rule="evenodd" />
                            </svg> -->

                            <input type="file"  (change)="imageFethcer($event)">
                            <!-- <div "> -->
                                <img [src]="manager.image" class="h-full rounded-full w-full" alt="">

                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="space-x-8 flex items-center justify-between mt-32 md:mt-14 md:justify-center">
                        <!-- <button
                            class="text-white py-2 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                            Connect</button> <button
                            class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                            Message</button>  -->
                    </div>
                </div>
                <div class="flex flex-col items-center mt-20 text-center border-b pb-6">
                    <div class="flex items-center  ">
                        <input [(ngModel)]="manager.fname" *ngIf="!hidden" class="text-4xl font-medium text-gray-700"
                            [value]="manager.fname">
                        <button
                            class="text-gray-900  hover:text-white border border-gray-800 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-md px-3 py-1 mx-2 text-center dark:border-gray-600 dark:text-gray-600 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800 "
                            *ngIf="!hidden" (click)="changeData()">
                            Save
                        </button>
                    </div>
                    <div class="">
                        <span *ngIf="hidden" class="text-4xl font-medium text-gray-700 p-1"> {{manager.fname }}</span>
                        <button class="hover:bg-gray-400 rounded-sm p-1 " *ngIf="hidden" (click)="hidden = !hidden">
                            <mat-icon>create</mat-icon>
                        </button>

                    </div>
                    <!-- <span class="font-light text-gray-500">27</span> -->
                    <!-- <p class="font-light text-gray-600 mt-3">Bucharest, Romania</p> -->
                    <p class="mt-8 text-gray-500">{{manager.email}}</p>
                    <!-- <p class="mt-2 text-gray-500">University of Computer Science</p> -->
                </div>
                <div class="mt-12 flex flex-col justify-center">
                    <p class="text-gray-600 text-center font-light lg:px-16">
                    </p> 
                    <!-- <button class="text-indigo-500 py-2 px-4  font-medium mt-4"> Show more</button> -->
                </div>
            </div>
        </div>
    </div>
</div>