<div class="flex flex-col ">
    <app-auth-nav style="z-index: 35;;"></app-auth-nav>
    <aside style="z-index: 32;"><app-side-bar></app-side-bar></aside>
</div>
<div class="p-4 bg-zinc-700 sm:ml-64">

    <div
        class="flex flex-wrap items-center justify-center overflow-auto gap-2.5 p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <div class="w-full min-h-full  ">
            <div class="max-w-screen-md px-10 py-6 mx-4 mt-20 bg-black rounded-lg shadow md:mx-auto border-1">
                <div class="flex flex-col items-start w-full m-auto sm:flex-row">
                    <div class="flex mx-auto sm:mr-10 sm:m-0">
                        <div class="items-center justify-center w-20 h-20 m-auto mr-4 sm:w-32 sm:h-32">
                            <input type="file" id="fileInput" (change)="imageFethcer($event)" #fileInput hidden>
                            <img [src]="manager.image" (click)="openFileInput()"
                                class="object-cover w-20 h-20 mx-auto rounded-full sm:w-32 sm:h-32" alt="">
                        </div>
                    </div>
                    <div class="flex flex-col pt-4 mx-auto my-auto sm:pt-0 sm:mx-0">
                        <div class="flex flex-col mx-auto sm:flex-row sm:mx-0 ">
                            <h2 class="flex pr-4 text-xl font-light text-gray-100 sm:text-3xl">{{manager.fname}}</h2>
                            
                            <div class="flex">

                                <a class="p-1 ml-2 text-gray-700 border-transparent rounded-full cursor-pointer hover:text-blue-600 focus:outline-none focus:text-gray-600"
                                    aria-label="Notifications">
                                    <svg class="w-4 h-4 sm:w-8 sm:h-8 text-gray-100" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="1.5" stroke="currentColor"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                        <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="flex items-center text-gray-100 justify-between mt-3 space-x-2">
                            <div class="flex"><span class="mr-1 text-gray-100 font-semibold">55 </span> Projects</div>
                            <div class="flex"><span class="mr-1 text-gray-100 font-semibold">10k </span> Task</div>
                            <div class="flex"><span class="mr-1 text-gray-100 font-semibold">20</span> Assignees</div>
                        </div>
                    </div>
                </div>
                <div class="w-full pt-5">
                    <div class="flex ">
                        <span class="text-lg font-semibold text-gray-100 sm:text-xl " *ngIf="hidden">{{manager.fname |
                            titlecase}}</span>
                        <button class="hover:text-gray-100 text-gray-400 rounded-sm  " *ngIf="hidden"
                            (click)="hidden = !hidden">
                            <mat-icon>create</mat-icon>
                        </button>
                        <div class="flex items-center w-2/6   ">    
                            <input [(ngModel)]="manager.fname" *ngIf="!hidden"
                                class="text-xl w-full rounded-md p-1 text-gray-700" [value]="manager.fname">
                            <button
                                class="text-gray-900 px-2 "
                                *ngIf="!hidden" (click)="changeData()">
                                <!-- Save -->
                                <svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                                    <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
                                    <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2Zm-2.359 10.707-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L7 12.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                                  </svg>
                            </button>
                        </div>
                    </div>
                    <span class="text-sm text-gray-100 md:text-base">Manager</span>
                    <p class="text-sm text-gray-100 md:text-base">{{manager.email}}</p>
                </div>
            </div>
        </div>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

            body {
                font-family: 'Poppins', sans-serif;
            }
        </style>
        <div class="p-0 flex w-full overflow-auto">
            <div class="p-8 w-full bg-white shadow mt-10 overflow-auto ">

                <div class="flex flex-col items-center mt-20 text-center border-b pb-6">
                    <div class="flex items-center  ">
                        <input [(ngModel)]="manager.fname" *ngIf="!hidden" class="text-4xl font-medium text-gray-700"
                            [value]="manager.fname">
                        <button
                            class="text-gray-900  hover:text-white border border-gray-800 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-md px-3 py-1 mx-2 text-center dark:border-gray-600 dark:text-gray-600 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800 "
                            *ngIf="!hidden" (click)="changeData()">
                            Save
                        </button>
                    </div>
                    <div class="">
                        <span class="text-4xl font-medium text-gray-700 p-1"> {{manager.fname }}</span>


                    </div>
                    <!-- <span class="font-light text-gray-500">27</span> -->
                    <!-- <p class="font-light text-gray-600 mt-3">Bucharest, Romania</p> -->
                    <p class="mt-8 text-gray-500">{{manager.email}}</p>
                    <!-- <p class="mt-2 text-gray-500">University of Computer Science</p> -->
                </div>
                <div class="mt-12 flex flex-col justify-center">
                    <p class="text-gray-600 text-center font-light lg:px-16">
                    </p>
                    <!-- <button class="text-indigo-500 py-2 px-4  font-medium mt-4"> Show more</button> -->
                </div>
            </div>
        </div>
    </div>
</div>