<div class="  divide-y divide-gray-100 rounded-lg shadow w-44 bg-black divide-gray-600">
    <ul class="py-2 text-sm text-gray-700 text-gray-200" aria-labelledby="dropdownInformationButton">
        <li *ngFor="let data of status|keyvalue:  originalOrder " class=" hover:bg-gray-600 hover:text-white">
            <button class="flex hover:bg-zinc-800 hover:text-white" type="button "
                (click)="getStatus(data.value)">
                <mat-icon class=" px-2 py-1 w-6 h-6 hover:bg-zinc-800  hover:text-white"
                    [ngStyle]="{color:data.value}">tour</mat-icon>
                <a class="block px-2 py-1 ">{{ data.key}}</a>
            </button>

        </li>

    </ul>
    <div class="py-2 flex gap-2 hover:bg-gray-600 hover:text-white">
        <mat-icon
            class="mx-1 text-white hover:bg-gray-600 hover:text-white">not_interested</mat-icon>
        <a
            class="block py-1 text-gray-700 hover:bg-gray-600 text-gray-200 hover:text-white">Clear</a>
    </div>
</div>