<div class="flex flex-col ">
    <app-item-nav style="z-index: 1;"></app-item-nav>
    <aside style="z-index: 0;"><app-side-bar></app-side-bar></aside>
</div>
<div class="p-4 sm:ml-64">
    <div>
        <!-- <small class=" font-medium text-dark   dark:text-dark">Projects</small> -->
        <!-- <p class=" font-medium text-dark text-lg dark:text-dark"></p> -->

        <div>
            <select id="underline_select"
                class="block px-2 py-2 text-sm gap-2 text-gray-900 bg-transparent border-0 border-gray-200 appearance-none dark:text-gray-900 dark:border-gray-700 focus:outline-none focus:ring-0 hover:bg-gray-200 rounded-lg shadow-sm">
                <option class="hover:bg-gray-300 px-2 py-2 mt-2" selected>Project One</option>
                <option class="hover:bg-gray-300 px-2 py-2" value="US">United States</option>
                <option class="hover:bg-gray-300 px-2 py-2" value="CA">Canada</option>
                <option class="hover:bg-gray-300 px-2 py-2" value="FR">France</option>
                <option class="hover:bg-gray-300 px-2 py-2" value="DE">Germany</option>
            </select>

        </div>

    </div>
    <div
        class="flex flex-wrap items-center justify-center gap-2.5 p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">

        <div
            class="block flex items-center justify-center  w-full text-sm text-gray-900 bg-gray-300 focus:bg-gray-600 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer">
            <div class=" px-2">
                <mat-icon class="text-gray-700">stop</mat-icon>
            </div>
            <div class="w-full">
                <input type="text" 
                    class="block py-2.5  px-0 w-full text-sm text-gray-900 bg-gray-300 focus:bg-gray-600 border-0 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 hover:bg-gray-400 peer">
            </div>

        </div>
    </div>
</div>