<div class="flex flex-col ">
    <app-auth-nav style="z-index: 1035;;"></app-auth-nav>
    <aside style="z-index: 1032;"><app-side-bar></app-side-bar></aside>
</div>
<div class="p-4 bg-zinc-950 h-fit lg:h-full sm:ml-64">
    <div class="">
        <p class=" font-medium text-white text-lg  dark:text-white">Add Employees</p>
    </div>
    <div
        class=" w-full h-fit w-fit p-4 border-2 border-gray-200 flex items-center justify-center ">

        <form class=" flex  w-fit items-center flex-col border-dashed rounded-lg dark:border-gray-700 darK:bg-black bg-black p-4" [formGroup]="assigneeForm" (ngSubmit)="add()">
            <div class="relative z-0 w-full mb-6 group">
                <input type="email" formControlName="email" id="floating_email" autocomplete="email"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <label for="email"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
                    address</label>
                <span class="text-red-600 font-bold" *ngIf="assigneeForm.get('email')?.invalid &&
                    (assigneeForm.get('email')?.dirty || assigneeForm.get('email')?.touched ||
                     isSubmitted)">E-mail is required</span>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <input type="password" formControlName="password" id="password" autocomplete="new-password"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required minlength="8" maxlength="12" />
                <label for="password"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                <span class="text-red-600 font-bold" *ngIf="assigneeForm.get('password')?.invalid &&
                (assigneeForm.get('password')?.dirty || assigneeForm.get('password')?.touched ||
                 isSubmitted)">
                    <span class="text-red-600" *ngIf="assigneeForm.get('password')?.errors?.['required']">
                        Password is required.
                    </span>
                    <span class="text-red-600" *ngIf="assigneeForm.get('password')?.errors?.['minlength']">
                        Password must be at least 8 characters long.
                    </span>
                    <span class="text-red-600" *ngIf="assigneeForm.get('password')?.errors?.['maxlength']">
                        Password must be less than 13 characters long.
                    </span>

                </span>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <input type="password" formControlName="cpassword" id="cpassword" autocomplete="current-password"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <label for="cpassword"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm
                    password</label>
                    <span class="text-red-600 font-bold" *ngIf="(assigneeForm.get('cpassword')?.invalid ||
                    assigneeForm.get('cpassword')?.dirty || assigneeForm.get('cpassword')?.touched 
                    ||isSubmitted)">
                        <span class="text-red-600"
                            *ngIf="assigneeForm.get('cpassword')?.value != assigneeForm.get('password')?.value ">Confirm
                            password should be same as password </span>
                    </span>
            </div>
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" formControlName="fname" id="fname"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required minlength="4" />
                    <label for="fname"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                        name</label>
                    <span class="text-red-600 font-bold" *ngIf="assigneeForm.get('fname')?.invalid &&
                    (assigneeForm.get('fname')?.dirty || assigneeForm.get('fname')?.touched ||isSubmitted)">
                        <span class="text-red-600" *ngIf="assigneeForm.get('fname')?.errors?.['required']">
                            First Name is required.
                        </span>
                        <span class="text-red-600" *ngIf="assigneeForm.get('fname')?.errors?.['minlength']">
                            First Name must be at least 4 characters long.
                        </span>
                    </span>
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" formControlName="lname" id="lname"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required minlength="4" />
                    <label for="lname"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                        name</label>
                    <span class="text-red-600 font-bold" *ngIf="assigneeForm.get('lname')?.invalid &&
                    (assigneeForm.get('lname')?.dirty || assigneeForm.get('lname')?.touched ||isSubmitted)">

                        <span class="text-red-600" *ngIf="assigneeForm.get('lname')?.errors?.['required']">
                            Last Name is required.
                        </span>
                        <span class="text-red-600" *ngIf="assigneeForm.get('lname')?.errors?.['minlength']">
                            Last Name must be at least 4 characters long.
                        </span>

                    </span>
                </div>
            </div>

            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-6 group">
                    <input type="number" minlength="10" maxlength="10"
                        formControlName="phone" id="phone"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="phone"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone
                        number</label>

                    <span class="text-red-600 font-bold" *ngIf="assigneeForm.get('phone')?.invalid &&
                    (assigneeForm.get('phone')?.dirty || assigneeForm.get('phone')?.touched ||isSubmitted)">
                        <span class="text-red-600" *ngIf="assigneeForm.get('phone')?.errors?.['required']">
                            Phone number is required.
                        </span>
                        <span class="text-red-600" *ngIf="assigneeForm.get('phone')?.errors?.['minlength']">
                            Phone number must be 10 characters long.
                        </span>
                        <span class="text-red-600" *ngIf="assigneeForm.get('phone')?.errors?.['maxlength']">
                            Phone number must be 10 characters long.
                        </span>
                    </span>

                </div>

                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" formControlName="place" id="place"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required minlength="4" />
                    <label for="place"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Place
                    </label>
                    <span class="text-red-600 font-bold" *ngIf="assigneeForm.get('place')?.invalid &&
                    (assigneeForm.get('place')?.dirty || assigneeForm.get('place')?.touched ||isSubmitted)">
                        <span class="text-red-600" *ngIf="assigneeForm.get('place')?.errors?.['required']">
                            Place is required.
                        </span>
                        <span class="text-red-600" *ngIf="assigneeForm.get('place')?.errors?.['minlength']">
                            Place must be at least 4 characters long.
                        </span>

                    </span>
                </div>
            </div>
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" formControlName="post" id="post"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required minlength="4" />
                    <label for="post"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Job
                        position</label>
                    <span class="text-red-600 font-bold" *ngIf="assigneeForm.get('post')?.invalid &&
                    (assigneeForm.get('post')?.dirty || assigneeForm.get('post')?.touched ||isSubmitted)">

                        <span class="text-red-600" *ngIf="assigneeForm.get('post')?.errors?.['required']">
                            Position is required.
                        </span>
                        <span class="text-red-600" *ngIf="assigneeForm.get('post')?.errors?.['minlength']">
                            Position must be at least 4 characters long.
                        </span>

                    </span>
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" formControlName="skill" id="skill"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required minlength="4" />
                    <label for="skill"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Main
                        Skill</label>
                    <span class="text-red-600 font-bold" *ngIf="assigneeForm.get('skill')?.invalid &&
                    (assigneeForm.get('skill')?.dirty || assigneeForm.get('skill')?.touched ||isSubmitted)">


                        <span class="text-red-600" *ngIf="assigneeForm.get('skill')?.errors?.['required']">
                            Skill is required.
                        </span>
                        <span class="text-red-600" *ngIf="assigneeForm.get('skill')?.errors?.['minlength']">
                            Skill must be at least 4 characters long.
                        </span>

                    </span>
                </div>
            </div>
            <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>


    </div>
</div>