<div class="flex flex-col ">
    <app-item-nav class="fixed w-full shadow-md shadow-zinc-800"  style="z-index: 1035;;"></app-item-nav>
    <aside style="z-index: 1032;"><app-side-bar></app-side-bar></aside>
</div>
<div class=" relative top-14  p-4 bg-zinc-950 lg:h-full sm:ml-64">
    <div
        class="w-full p-2 mb-4 text-start text-2xl font-semibold font-body text-white bg-white border border-gray-200 rounded-lg shadow sm:p-4 dark:bg-black dark:border-gray-700">
        Project
    </div>
    <div class="flex justify-between items-center">
        <p class=" font-medium text-dark text-xl  dark:text-white">Projects</p>
        <a routerLink="/space/newProject"
            class="flex justify-center items-center  text-gray-900 rounded-lg dark:text-dark  ">
            <svg class="w-6 h-6 text-black dark:text-gray-300 hover:text-white hover:w-8 h-8" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path
                    d="M.188 5H5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707c-.358.362-.617.81-.753 1.3C.148 5.011.166 5 .188 5ZM14 8a6 6 0 1 0 0 12 6 6 0 0 0 0-12Zm2 7h-1v1a1 1 0 0 1-2 0v-1h-1a1 1 0 0 1 0-2h1v-1a1 1 0 0 1 2 0v1h1a1 1 0 0 1 0 2Z" />
                <path
                    d="M6 14a7.969 7.969 0 0 1 10-7.737V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H.188A.909.909 0 0 1 0 6.962V18a1.969 1.969 0 0 0 1.933 2h6.793A7.976 7.976 0 0 1 6 14Z" />
            </svg>
            <span class="ml-3"></span>
        </a>
    </div>
    <div
        class="flex flex-wrap items-center justify-center gap-2.5 p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">

        <div *ngFor="let project of projectTask"
            class="max-w-sm w-full p-6 bg-white border border-gray-200 rounded-lg hover:shadow hover:shadow-white shadow dark:bg-black dark:border-gray-700">
            <div class="flex justify-between items-center">
                <section class="relative  flex items-center justify-center">
                    <mat-progress-spinner class="absolute example-margin" aria-label="Rating" [color]="color"
                        [mode]="mode" [value]="project.value">
                    </mat-progress-spinner>
                    <span class="relative  right-16 text-white">{{ project.value }}%</span>
                </section>
                <div>
                    <a (click)="openDelete(project?._id)"
                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                            width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20 7V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V7H2V5H22V7H20ZM11 9V11H13V9H11ZM11 12V14H13V12H11ZM11 15V17H13V15H11ZM7 2H17V4H7V2Z">
                            </path>
                        </svg></a>
                </div>
            </div>

            <a>
                <span class=" text-xl m-0 font-medium text-gray-900 dark:text-white" style="margin: 0%;">
                    {{project?.title}}
                </span>
            </a>
            <!-- <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Go to this step by step guideline process on
                how to certify for your weekly benefits:</p> -->
            <div class="flex flex-col divide-y divide-y-white w-full ">
                <a class="inline-flex items-center text-blue-600 hover:underline">
                    Open Project
                    <svg class="w-3 h-3 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778" />
                    </svg>
                </a>
                <div class="flex flex-wrap gap-y-2 p-3 items-center justify-center " *ngIf="project.tasks">
                    <span
                        class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium mr-2 hover:bg-green-800 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">
                        Completed :{{project.tasks.completed}}
                    </span>
                    <span
                        class="inline-flex items-center bg-gray-100 text-black text-xs font-medium mr-2 hover:bg-black px-2.5 py-0.5 rounded dark:bg-gray-900 dark:text-gray-300">
                        Todo :{{project.tasks.todo}}
                    </span>
                    <span
                        class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-medium mr-2 hover:bg-blue-800 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                        Progress :{{project.tasks.progress}}
                    </span>
                    <span
                        class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium mr-2 hover:bg-red-800 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">
                        Due :{{project.tasks.due}}
                    </span>
                    <span
                        class="inline-flex items-center bg-orange-100 text-orange-800 text-xs font-medium mr-2 hover:bg-orange-800 px-2.5 py-0.5 rounded dark:bg-orange-900 dark:text-orange-300">
                        On Due :{{project.tasks.onDue}}
                    </span>
                </div>
            </div>

        </div>




    </div>
</div>