<div class="flex z-10 flex-col fixed w-full">
    <app-auth-nav class="shadow-md shadow-zinc-800 " style="z-index: 35;;"></app-auth-nav>
    <aside class="shadow shadow-zinc-800 " style="z-index: 32;"><app-side-bar></app-side-bar></aside>
</div>
<div class="relative bg-zinc-700 top-16 p-4 h-fit sm:ml-64 ">

    <div class="text-lg mt-90 font-medium text-gray-100 p-1">Home</div>
    <div class="flex flex-col items-center justify-center">
        <div class="text-4xl p-3 text-center font-medium text-gray-100">{{date|date:'EEEE MMM d'}}</div>
        <div class="text-4xl p-3 text-center font-medium text-gray-100">{{time| wish}},{{name |titlecase}}</div>
    </div>
    <div class=" p-4 h-fit border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 gap-y-4">
        <div class="w-full h-fit gap-2 mb-4">
            <div class="flex flex-col md:flex-row items-start justify-around w-full  gap-y-4  ">
                <div
                    class=" flex flex-wrap  flex md:flex-row  gap-y-4 gap-x-4 w-full md:px-5 xl:px-0 2xl:px-0 justify-around items-center">

                    <div
                        class="max-w-md md:w-3/12 xl:w-80 2xl:w-96 shadow shadow-gray-200 hover:shadow-md hover:shadow-gray-200 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-black dark:border-gray-700">
                        <div class=" flex flex-row justify-between mb-4 ">
                            <div class="flex flex-col  mb-2  "> <span class="text-xl font-medium tracking-tight text-gray-900 dark:text-white">
                                Projects</span>
                                <span class="text-white font-bold text-2xl  ">{{projectCount}}</span>
                            </div>
                            <span
                                class="inline-flex h-fit items-center bg-blue-700 text-gray-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md full dark:bg-blue-600 dark:text-gray-200">
                                Created
                            </span>

                        </div>
                        <div class="flex flex-col justify-between mt-4 ">
                            <div class="flex flex-row justify-between ">
                                <span class="mb-2 text-md font-medium tracking-tight text-gray-900 dark:text-white">
                                    Completed</span>
                                <span
                                    class="inline-flex h-fit items-center  text-gray-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md full dark:text-gray-200">
                                    {{projectComplted}}%
                                </span>
                            </div>
                            <div>
                                <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                    <div class="bg-blue-600 h-2.5 rounded-full" [ngStyle]="{'width':projectComplted + '%'}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                    class="max-w-md md:w-3/12 xl:w-80 2xl:w-96 shadow shadow-gray-200 hover:shadow-md hover:shadow-gray-200 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-black dark:border-gray-700">
                    <div class=" flex flex-row justify-between mb-4 ">
                        <div class="flex flex-col  mb-2  "> <span class="text-xl font-medium tracking-tight text-gray-900 dark:text-white">
                            Tasks</span>
                            <span class="text-white font-bold text-2xl  ">{{taskCount}}</span>
                        </div>
                       
                        <span
                            class="inline-flex h-fit items-center bg-blue-700 text-gray-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md full dark:bg-green-600 dark:text-gray-200">
                            ToDo
                        </span>

                    </div>
                    <div class="flex flex-col justify-between mt-4 ">
                        <div class="flex flex-row justify-between ">
                            <span class="mb-2 text-md font-medium tracking-tight text-gray-900 dark:text-white">
                                Completed</span>
                            <span
                                class="inline-flex h-fit items-center  text-gray-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md full dark:text-gray-200">
                                {{taskPercentage}}%
                            </span>
                        </div>
                        <div>
                            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                <div class="bg-green-600 h-2.5 rounded-full" [ngStyle]="{'width':taskPercentage+ '%'}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                class="max-w-md md:w-3/12 xl:w-80 2xl:w-96 shadow shadow-gray-200 hover:shadow-md hover:shadow-gray-200 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-black dark:border-gray-700">
                <div class=" flex flex-row justify-between mb-4 ">
                    <div class="flex flex-col  mb-2  "> <span class="text-xl font-medium tracking-tight text-gray-900 dark:text-white">
                        Assignees</span>
                        <span class="text-white font-bold text-2xl  "> {{assigneeCount}}</span>
                    </div>
                    <span
                        class="inline-flex h-fit items-center bg-blue-700 text-gray-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md full dark:bg-orange-600 dark:text-gray-200">
                        Added
                    </span>

                </div>
                <div class="flex flex-col justify-between mt-4 ">
                    <div class="flex flex-row justify-between ">
                        <span class="mb-2 text-md font-medium tracking-tight text-gray-900 dark:text-white">
                            Available</span>
                        <span
                            class="inline-flex h-fit items-center  text-gray-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md full dark:text-gray-200">
                            {{assigneePercentage}}%
                        </span>
                    </div>
                    <div>
                        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                            <div class="bg-orange-600 h-2.5 rounded-full" [ngStyle]="{'width':assigneePercentage+'%'}"></div>
                        </div>
                    </div>
                </div>
            </div>

                </div>
            </div>
        </div>
        <div class="w-full h-fit flex  2xl:flex-row flex-col gap-y-10 justify-around items-around ">

            <div class="w-full h-fit gap-2 2xl:w-2/3">

                <div class="flex flex-col md:flex-row items-start justify-around w-full  gap-y-4   ">
                    <div
                        class="w-full 2xl:w-96 h-1/2 max-w-md h-80 shadow shadow-gray-200 overflow-auto p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-black dark:border-black">
                        <div class="flex items-center justify-between mb-4">
                            <span class="text-xl font-bold leading-none text-gray-900 dark:text-white">Projects</span>
                            <a class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
                                View all
                            </a>
                        </div>
                        <div class="flex items-between justify-between m-2 gap-x-2 flex-wrap gap-y-3 overflow-y-auto">
                            <a routerLink="/space/newProject"
                                class="flex items-center w-full md:w-44  p-3 text-base font-bold text-gray-900 rounded-lg bg-zinc-950 hover:bg-gray-100 group hover:shadow hover:shadow-gray-200 dark:bg-zinc-700 dark:hover:bg-zinc-900 dark:text-white">
                                <svg class="flex flex-row w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M9 1v16M1 9h16" />
                                </svg>
                                <span class="flex-1 ml-3 whitespace-nowrap">Create Project</span>
                            </a>
                            <a routerLink="/space/task" *ngFor="let values of projects"
                                class="flex items-center w-full md:w-44 p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <svg class="flex flex-row w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M9 1v16M1 9h16" />
                                </svg>
                                <span class="flex-1 ml-3 whitespace-nowrap">{{values.title}}</span>
                            </a>

                        </div>
                    </div>
                    <div
                    class="w-full 2xl:w-96 h-1/2 max-w-md h-80 shadow shadow-gray-200 overflow-auto p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-black dark:border-black">
                    <div class="flex items-center justify-between mb-4">
                            <span class="text-xl font-bold leading-none text-gray-900 dark:text-white">Tasks</span>
                            <a class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
                                View all
                            </a>
                        </div>
                        <div class="flow-root divide-y divide-gray-100  ">
                            <div class="flex flex-row text-white gap-x-2 overflow-auto ">
                                <span [ngStyle]="{color:taskButton[0]}" (click)="changeTask(0,'Orange')"
                                    class=" text-lg">ondue</span>
                                <span class=" text-lg" [ngStyle]="{color:taskButton[1]}"
                                    (click)="changeTask(1,'Gray')">Upcoming</span>
                                <span class="flex text-sm text-row 2xl:text-lg" [ngStyle]="{color:taskButton[2]}"
                                    (click)="changeTask(2,'Red')">Over
                                    Due</span>
                                <span class=" text-lg" [ngStyle]="{color:taskButton[3]}"
                                    (click)="changeTask(3,'Green')">Completed</span>
                            </div>
                            <div class="flex flex-col divide-y divide-gray-100 gap-y-12  "
                                *ngFor=" let task of listTasks">
                                <span class="text-white text-md font-medium  ">
                                    {{task.title}}
                                </span>
                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row items-center justify-around ">
                    <div class="w-full md:w-3/6  ">
                        <div class="w-full flex flex-col justify-center items-center text-lg">

                            <span class="mb-2 text-lg font-semibold text-gray-900 dark:text-white ">Task Overview</span>
                            <ul class="max-w-md w-3/6 space-y-1 text-gray-500 list-inside dark:text-gray-900">
                                <li *ngFor="let data of statusData" class="flex items-center w-full">
                                    <svg class="w-3.5 h-3.5 mr-2  flex-shrink-0" [ngStyle]="{color:data.color}"
                                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        viewBox="0 0 20 20">
                                        <path
                                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                                    </svg>
                                    <ul class=" w-full text-white flex items-between justify-between  ">
                                        <li>{{data.name}}</li>
                                        <li>{{data.y}}</li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <div class="w-full">
                            <canvasjs-chart class=" " [options]="statusCounts"
                                [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                        </div>
                    </div>
                    <div class="w-full md:w-3/6 gap-y-2 ">
                        <div class="w-full flex flex-col justify-center items-center text-lg">

                            <span class="mb-2 text-lg font-semibold text-gray-900 dark:text-white ">Task Overview</span>
                            <ul class="max-w-md w-3/6 space-y-1 text-gray-500 list-inside dark:text-gray-900">
                                <li *ngFor="let data of priorityData" class="flex items-center w-full">
                                    <svg class="w-3.5 h-3.5 mr-2  flex-shrink-0" [ngStyle]="{color:data.color}"
                                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        viewBox="0 0 20 20">
                                        <path
                                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                                    </svg>
                                    <ul class=" w-full flex text-white items-between justify-between  ">
                                        <li>{{data.name}}</li>
                                        <li>{{data.y}}</li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <div class="w-full mt-6">
                            <canvasjs-chart class=" " [options]="status"
                                [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" 2xl:w-1/3  flex flex-raw flex-wrap gap-2  justify-around ">

                <div
                    class="w-full shadow shadow-gray-200 xl:w-10/12 max-w-md h-80 overflow-auto p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-black dark:border-gray-700">
                    <div class="flex items-center justify-between mb-4">
                        <span class="text-xl font-bold leading-none text-gray-900 dark:text-white">Assignees</span>
                        <a class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
                            View all
                        </a>
                    </div>
                    <div class="flow-root">
                        <ul role="list"
                            class="flex flex-wrap gap-x-2 justify-between items-between divide-y divide-gray-200 dark:divide-gray-700">
                            <li *ngFor="let data of assignees" class="py-3 w-full  sm:py-4">
                                <div class="flex items-center space-x-4">
                                    <div class="flex-shrink-0">
                                        <img class="w-8 h-8 rounded-full"
                                            src=""
                                            alt="Neil image">
                                    </div>
                                    <div class="flex-1 ">
                                        <p class="text-sm font-medium text-white truncate dark:text-white">
                                            {{data.fname}}
                                        </p>
                                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                            {{data.email}}
                                        </p>
                                    </div>
                                    <div
                                        class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                        {{data.skill}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <div
                    class="w-full xl:w-10/12 shadow shadow-gray-200 max-w-md h-80 2xl:h-96 overflow-y-auto 2xl:mt-20  p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-black dark:border-gray-700">
                    <div class="flex items-center justify-between mb-4">
                        <span class="text-xl font-bold leading-none text-gray-900 dark:text-white">Recent
                            Activities</span>
                        <a class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
                            View all
                        </a>
                    </div>
                    <div class="flow-root">
                        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                            <li *ngFor="let data of recents" class="py-3 sm:py-4 ">
                                <div class="flex items-center space-x-4">
                                    <div class="flex-shrink-0">
                                        <img class="w-8 h-8 rounded-full"
                                            src="https://www.transparentpng.com/thumb/user/black-username-png-icon-free--4jlZLb.png"
                                            alt="Michael image">
                                    </div>
                                    <div class="flex flex-col  ">
                                        <div class="flex-1 min-w-0 flex flex-col">
                                            <span class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                                {{data.tasks |task :tasks}}
                                            </span>
                                            <span class="text-sm text-gray-500 truncate dark:text-gray-400">
                                                {{data.content}}
                                            </span>
                                        </div>
                                        <div
                                            class="inline-flex flex-col  text-base text-gray-900 dark:text-white">
                                            <span class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                                {{data.doneBy | assignee : assignees}}
                                            </span>
                                            <span class="text-xs text-gray-500 truncate dark:text-gray-400">
                                                {{data.createdAt | date:'h:mm a EEEE MM dd'}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>