<div class="flex flex-col ">
    <app-auth-nav style="z-index: 1035;;"></app-auth-nav>
    <aside style="z-index: 1032;"><app-side-bar></app-side-bar></aside>
</div>
<div class="p-4 sm:ml-64 ">

    <div class="text-lg font-medium text-gray-900 p-1">Home</div>
    <div class="flex flex-col items-center justify-center">
        <div class="text-4xl p-3 py- font-medium text-gray-900">{{date|date:'EEEE MMM d'}}</div>
        <div class="text-4xl p-3 py- font-medium text-gray-900">{{time| wish}},{{name |titlecase}}</div>
    </div>
    <div class="flex ">
        <div style=" height: 70%;width: 70%;">
            <canvasjs-chart [options]="statusCounts" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
        </div>
        <div style=" height: 30%;width: 30%; ">
            <canvas style="margin-right: 10px;margin-top: 10px;" id="myChart"></canvas>
        </div>
    </div>
</div>