<div class="flex flex-col ">
    <app-auth-nav style="z-index: 1035;"></app-auth-nav>
    <aside style="z-index: 1032;"><app-side-bar></app-side-bar></aside>
</div>
<div class="p-4  h-full bg-zinc-950 sm:ml-64">
    <div class="flex justify-between items-center">
        <p class=" font-medium text-dark text-lg  dark:text-white">Employees</p>
        <a routerLink="/space/addAssignee"
            class="flex justify-center items-center  p-2 text-gray-900 rounded-lg dark:text-white  hover:text-white">
            <svg class="w-6 h-6 text-gray-800 dark:text-gray-400 hover:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                <path
                    d="M6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Zm11-3h-2V5a1 1 0 0 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 0 0 2 0V9h2a1 1 0 1 0 0-2Z" />
            </svg>
            <span class="ml-3"></span>
        </a>
    </div>
    <div
        class="flex flex-wrap items-center justify-center gap-2.5 p-2 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">

        <div class="relative w-full flex justify-center gap-10 max-w-xs bg-white border border-gray-200 rounded-lg shadow shadow-white dark:bg-black dark:border-gray-700"
            *ngFor="let assigne of assignee$ | async ">

            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src=""
                    alt="Bonnie image" />
                <span class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{assigne.fname|titlecase }}
                    {{assigne.lname}}</span>
                <span class="text-sm text-gray-500 dark:text-gray-400">{{assigne.post}}</span>
                <div class="flex mt-4 justify-center space-x-3 md:mt-6">
                    <a (click)="openDelete(assigne._id)"
                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                            width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20 7V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V7H2V5H22V7H20ZM11 9V11H13V9H11ZM11 12V14H13V12H11ZM11 15V17H13V15H11ZM7 2H17V4H7V2Z">
                            </path>
                        </svg></a>
                    <a
                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                            class="ri-chat-3-line m-0" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10 3H14C18.4183 3 22 6.58172 22 11C22 15.4183 18.4183 19 14 19V22.5C9 20.5 2 17.5 2 11C2 6.58172 5.58172 3 10 3ZM12 17H14C17.3137 17 20 14.3137 20 11C20 7.68629 17.3137 5 14 5H10C6.68629 5 4 7.68629 4 11C4 14.61 6.46208 16.9656 12 19.4798V17Z">
                            </path>
                        </svg></a>
                    <a [routerLink]="['/space/editAssigne',assigne._id]"
                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                            class="ri-phone-line m-0" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.8995 6.85431L17.1421 11.0969L7.24264 20.9964H3V16.7538L12.8995 6.85431ZM14.3137 5.44009L16.435 3.31877C16.8256 2.92825 17.4587 2.92825 17.8492 3.31877L20.6777 6.1472C21.0682 6.53772 21.0682 7.17089 20.6777 7.56141L18.5563 9.68273L14.3137 5.44009Z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>