<div class="flex justify-center items-center  w-6/6 h-5/6">
    <img  class="absolute h-screen" style="z-index: 1;" src="https://static.vecteezy.com/system/resources/previews/011/747/372/large_2x/eps10-blue-email-abstract-solid-icon-isolated-on-white-background-envelope-mail-services-symbol-in-a-simple-flat-trendy-modern-style-for-your-website-design-logo-and-mobile-application-vector.jpg" alt="">
    <h1 class="relative top-40 text-lg font-bold" style="z-index: 2;">Please check your email to reset password</h1>
</div>