<div class="flex z-10 flex-col fixed w-full">
    <app-admin-nav style="z-index: 35;;"></app-admin-nav>
    <aside style="z-index: 32;"><app-adminside-nav></app-adminside-nav></aside>
</div>
<div class="p-4 sm:ml-64">
    <div class="text-lg font-medium text-gray-900 p-1">Home</div>
    <div class="flex flex-col items-center justify-center">
        <div class="text-4xl p-3 text-center font-medium text-gray-900">{{date|date:'EEEE MMM d'}}</div>
        <div class="text-4xl p-3 text-center font-medium text-gray-900">{{time| wish}},{{name |titlecase}}Jaseer</div>
    </div>
    <div class="flex flex-col md:flex-row p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <div class="w-full flex flex-raw justify-start items-start flex-wrap gap-y-4 ">
            <div class="flex flex-col justify-center h-fit md:flex-row  w-full  gap-y-4   ">
                <div
                    class="w-full max-w-md  p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex items-center justify-between mb-4">
                        <span class="text-xl font-bold leading-none text-gray-900 dark:text-white">Users</span>
                        <a class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
                            View all
                        </a>
                    </div>
                    <div class="flow-root divide-y divide-gray-100  ">
                        <div class="flex text-white gap-x-2 overflow-auto ">
                            <span [ngStyle]="{color:taskButton[0]}" (click)="changeTask(0,'UnBlock')"
                                class=" text-lg">Not Blocked</span>
                            <span class=" text-lg" [ngStyle]="{color:taskButton[1]}"
                                (click)="changeTask(1,'Block')">Blocked</span>
                        </div>
                        <div class="flex flex-col divide-y divide-gray-100 gap-y-12  " *ngFor=" let task of listTasks">
                            <span class="text-white text-md font-medium  ">
                                {{task.name|titlecase}}
                            </span>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col  w-full  md:flex-row items-start justify-center ">
                <div class="w-full md:w-full ">
                    <div class="w-full  flex flex-col justify-center items-center text-lg ">

                        <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-black ">Task Overview</h2>
                        <ul class="max-w-md w-3/6 space-y-1 text-gray-500 list-inside dark:text-gray-900">
                            <li *ngFor="let data of userData" class="flex items-center w-full">
                                <svg class="w-3.5 h-3.5 mr-2  flex-shrink-0" [ngStyle]="{color:data.color}"
                                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    viewBox="0 0 20 20">
                                    <path
                                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                                </svg>
                                <ul class=" w-full flex items-between justify-between  ">
                                    <li>{{data.name}}</li>
                                    <li>{{data.y}}</li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <div class="w-5/6 ">
                        <canvasjs-chart class="w-full " [options]="statusCounts"
                            [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full flex flex-raw justify-start items-center flex-wrap gap-y-4 ">
            <div class="flex flex-col justify-center h-fit md:flex-row  w-full  gap-y-4   ">
                <div
                    class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex items-center justify-between mb-4">
                        <span class="text-xl font-bold leading-none text-gray-900 dark:text-white">Users</span>
                        <a class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
                            View all
                        </a>
                    </div>
                    <div class="flow-root divide-y divide-gray-100  ">
                        <div class="flex text-white gap-x-2 overflow-auto ">
                            <span [ngStyle]="{color:taskButton[0]}" (click)="changeTask(0,'UnBlock')"
                                class=" text-lg">Not Blocked</span>
                            <span class=" text-lg" [ngStyle]="{color:taskButton[1]}"
                                (click)="changeTask(1,'Block')">Blocked</span>
                        </div>
                        <div class="flex flex-col divide-y divide-gray-100 gap-y-12  " *ngFor=" let task of listTasks">
                            <span class="text-white text-md font-medium  ">
                                {{task.name|titlecase}}
                            </span>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col  w-full h-full md:flex-row items-center justify-around ">
                <div class="w-full md:w-full h-full">
                    <div class="w-full h-60 flex flex-col justify-start items-center text-lg  ">

                        <h2 class="mb-1 text-lg font-semibold text-gray-900 dark:text-black ">Task Overview</h2>
                        <div class="flex w-full h-1/2 gap-2 ">
                            <ul
                                class="max-w-md w-3/6 h-full  overflow-auto space-y-1 text-gray-500 list-inside dark:text-gray-900">
                                <li *ngFor="let data of taskData" class="flex items-center w-full h-fit">
                                    <svg class="w-3.5 h-3.5 mr-2  flex-shrink-0" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path
                                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                                    </svg>
                                    <ul class=" w-full h-min flex items-between justify-between overflow-auto">
                                        <li>{{data.x| date :'MMM' }}</li>
                                        <li>{{data.y}}</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul
                                class="max-w-md w-3/6 h-full overflow-auto space-y-1 text-gray-500 list-inside dark:text-gray-900">
                                <li *ngFor="let data of updatedData" class="flex items-center w-full h-fit">
                                    <svg class="w-3.5 h-3.5 mr-2  flex-shrink-0" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path
                                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                                    </svg>
                                    <ul class=" w-full h-min flex items-between justify-between overflow-auto">
                                        <li>{{data.x| date :'MMM' }}</li>
                                        <li>{{data.y}}</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-full h-fit ">
                        <canvasjs-chart class="w-full md:w-full " [options]="dateOption"
                            [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>