<footer class="w-full h-fit  flex flex-col justify-center items-center p-0 m-0">
    <div id="one" class="relative bottom-72 md:bottom-56 bg-gray-100 w-5/6 z-10 rounded-t-[20px] rounded-b-lg
        bg-gradient-to-r from-black via-gray-400 via-purple-500 to-black  flex text-lg text-white">
        <div class="flex flex-col p-8">
            <span class="text-2xl ">One place to make it happen.</span>
            <span>All of your works in one place: Goals, Tasks, Chats, Docs & More.. </span>
        </div>
    </div>

    <div id="footer"
        class="absolute md:px-36 py-10 bg-gray-100 w-full z-0 divide-y divide-gray-100 rounded-t-[35px] md:rounded-t-[70px] bg-gradient-to-r from-black via-purple-500 to-pink-500 flex flex-col  ">
        <div class="flex p-4 text-lg text-white gap-x-10 ">
            <span>24-hours support</span>
            <span>Serious about Security & Privacy</span>
        </div>
        <div class="flex text-white text-lg gap-x-5 px-4 py-4">
            <div class="flex flex-col gap-y-2 ">
                <span class=" font-medium ">Company</span>

                <a class=" hover:underline underline-offset-6 hover:text-blue-500	">About Us</a>
                <a class=" hover:underline underline-offset-6 hover:text-blue-500	">Products</a>
                <a class=" hover:underline underline-offset-6 hover:text-blue-500	">Reviews</a>
                <a class=" hover:underline underline-offset-6 hover:text-blue-500	">Get Started</a>
            </div>
            <div class="flex flex-col gap-y-2 ">
                <span class=" font-medium ">Features</span>

                <a class=" hover:underline underline-offset-6 hover:text-blue-500	">Board</a>
                <a class=" hover:underline underline-offset-6 hover:text-blue-500	">List</a>
                <a class=" hover:underline underline-offset-6 hover:text-blue-500	">Time tracking</a>
                <a class=" hover:underline underline-offset-6 hover:text-blue-500	">Chat</a>
            </div>
            <div class="flex flex-col gap-y-2 ">
                <span class=" font-medium ">Compare</span>

                <a class=" hover:underline underline-offset-6 hover:text-blue-500	">Vs Wrike</a>
                <a class=" hover:underline underline-offset-6 hover:text-blue-500	">Vs Monday</a>
                <a class=" hover:underline underline-offset-6 hover:text-blue-500	">Vs BaseCamp</a>
                <a class=" hover:underline underline-offset-6 hover:text-blue-500	">Vs Zoho</a>
            </div>
        </div>
        <div class="flex justify-between ">
            <a href="https://flowbite.com/" class="flex items-center px-4 py-4" routerLink="/">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Flowbite Logo">
                <span
                    class="self-center text-base lg:text-2xl font-bold whitespace-nowrap dark:text-white">Projectonia</span>
            </a>
            <div class=" flex gap-x-2 p-4 ">
                <div class="flex items-center justify-center">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white hover:text-blue-500 " aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 15 15">
                        <path fill-rule="evenodd"
                            d="M7.979 5v1.586a3.5 3.5 0 0 1 3.082-1.574C14.3 5.012 15 7.03 15 9.655V15h-3v-4.738c0-1.13-.229-2.584-1.995-2.584-1.713 0-2.005 1.23-2.005 2.5V15H5.009V5h2.97ZM3 2.487a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
                            clip-rule="evenodd" />
                        <path d="M3 5.012H0V15h3V5.012Z" />
                    </svg>
                </div>
                <div class="flex items-center justify-center">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white hover:text-blue-500 " aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                        <path fill-rule="evenodd"
                            d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="flex items-center justify-center">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white hover:text-blue-500 " aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
                        <path fill-rule="evenodd"
                            d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
                            clip-rule="evenodd" />
                    </svg>
                </div>


            </div>
        </div>
        <div>

        </div>
    </div>
</footer>