<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
   type="button"
   class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd"
         d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
      </path>
   </svg>
</button>

<aside id="default-sidebar"
   class="fixed max-w-sm mx-4 flex  left-0 bg-zinc-900 rounded z-40 w-72 h-full transition-transform -translate-x-full sm:translate-x-0"
   aria-label="Sidebar">
   <div class=" flex h-5/6 w-full mt-20 px-3 py-4 rounded-lg bg-black">
      <ul class="  flex flex-col h-full w-full overflow-y-auto font-medium  bg-black ">
         <li *ngFor="let user of managerShowData" (click)="getAllmessage(user.user_id)">
            <a *ngIf="user.readed "
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-zinc-500 dark:hover:bg-zinc-700 group">

               <mat-icon>account_circle</mat-icon>

               <span class="ml-3">{{user.fname}}</span>
            </a>
            <a *ngIf="!user.readed "
               class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-zinc-500 dark:hover:bg-zinc-700 group">

               <mat-icon>account_circle</mat-icon>

               <span class="ml-3">{{user.fname}}hi</span>
            </a>
         </li>
      </ul>
   </div>
</aside>