<div class="flex flex-col ">
    <app-item-nav style="z-index: 35;"></app-item-nav>
    <aside style="z-index: 32;"><app-side-bar></app-side-bar></aside>
</div>

<div class="p-4 sm:ml-64 ">
    <div class="flex justify-between items-center">
        <div>
            <mat-form-field>
                <mat-label>Select Project</mat-label>
                <mat-select (valueChange)="changed($event)">
                    <mat-option *ngFor="let data of projects" [value]="data._id">
                        {{data.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <button type="button" (click)="newTask()"
            class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-xs px-4 py-2 text-center  mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">NEW
            TASK</button>
    </div>
    <router-outlet></router-outlet>

    <div
        class="flex flex-wrap items-center justify-center gap-2.5 p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">

        <div *ngFor="let taskData of currentData" 
            class=" block flex items-center justify-center  w-full text-sm text-gray-900 bg-gray-300 focus:bg-gray-600 border-0 border-b-2 border-gray-300 hover:bg-gray-400 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer">
            <div  *ngIf="edit.id == taskData._id || readonly" class=" px-2">
                <mat-icon [ngStyle]="{color:taskData.status}">stop</mat-icon>
            </div>
            <div class=" px-2" [hidden]="!readonly" (click)="editHead(taskData.title,taskData._id)" (blur)="editHead()">
                <mat-icon>create</mat-icon>
            </div>
            <div class=" px-2" [hidden]="!readonly" (click)="viewTask(taskData)">
                <mat-icon>visibility</mat-icon>
            </div>
            <div class="w-full" [hidden]="!readonly" >
                <input ngModel #title="ngModel" type="text" name="title" [(ngModel)]="taskData.title"
                    [value]="taskData.title" required minlength="3" readonly maxlength="15"
                    class="block py-2.5  px-0 w-full text-sm text-gray-900 bg-gray-300 focus:bg-gray-400 border-0 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 hover:bg-gray-400 peer">
                <!-- <small *ngIf="title.invalid && (title.touched || title.dirty)" class="text-red-600">Enter a valid title</small> -->
                <!-- <span class="text-red-600" *ngIf="title.errors?.['required']">Title is required </span>
                <span class="text-red-600" *ngIf="title.errors?.['minlength'] && ['maxlength']">Title length must be
                    greater than 4 and less than 15 </span> -->
            </div>
            <div class="w-full " *ngIf="edit.id == taskData._id" [hidden]="readonly">
                <input ngModel #title="ngModel" type="text" name="title" [(ngModel)]="taskTitle"
                    [value]="taskData.title" required minlength="3" [readOnly]="readonly" maxlength="15"
                    class="block py-2.5  px-0 w-full text-sm text-gray-900 bg-gray-300 focus:bg-gray-400 border-0 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 hover:bg-gray-400 peer">
                <!-- <small *ngIf="title.invalid && (title.touched || title.dirty)" class="text-red-600">Enter a valid title</small> -->
                <span class="text-red-600" *ngIf="title.errors?.['required']">Title is required </span>
                <span class="text-red-600" *ngIf="title.errors?.['minlength'] && ['maxlength']">Title length must be
                    greater than 4 and less than 15 </span>
            </div>
            <button [attr.taskData-collapse-toggle]="taskData._id" type="button" (click)="isHidden = !isHidden"
                class="inline-flex items-center p-2 w-9 h-9 justify-center text-sm text-gray-100 md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-700 dark:hover:bg-gray-300 dark:focus:ring-gray-300"
                aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div  class="hidden w-full md:block md:w-auto" [id]="taskData._id">
                <ul [hidden]="isHidden"
                    class="font-medium flex flex-col justify-center items-center md:p-0 border border-gray-100 md:flex-row hover:bg-gray-400 md:space-x-8 md:mt-0 md:border-0 md:bg-white md:dark:bg-gray-300 dark:border-gray-700">
                    <li>
                        <button type="button" class="text-gray-900  hover:text-white  focus:ring-4
                    focus:outline-none font-medium rounded-md  text-center 
                    dark:border-gray-600 dark:text-gray-400 dark:hover:text-white " [hidden]="!readonly"><svg
                                (click)="openDelete(taskData._id)"
                                class="w-6 h-6 text-gray-800 dark:text-gray-500 hover:text-gray-900" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                <path
                                    d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z" />
                            </svg></button>
                    </li>
                    <li>
                        <button type="button" class="text-gray-900 focus:ring-4 
                        focus:outline-none font-medium rounded-md  text-center 
                        dark:border-gray-600 dark:text-gray-400" [hidden]="!readonly"
                            (click)="openDrop('assignee',taskData._id)"> <mat-icon style="width: 50px;"
                                *ngIf="!taskData.assigneeId ;else assignee "
                                class=" w-7 h-7 text-gray-500 hover:text-gray-900">account_circle</mat-icon>
                            <ng-template #assignee>
                                <p class="w-6 h-6 text-gray-800 dark:text-gray-500 hover:text-gray-900"
                                    aria-hidden="true" style="width: 50px;padding-top: 7px;">{{taskData.assigneeId |
                                    assignee : assignees }}</p>
                            </ng-template>
                        </button>

                    </li>
                    <li>
                        <button type="button" class="text-gray-900  hover:text-white  focus:ring-4
                        focus:outline-none font-medium rounded-md  text-center 
                        dark:border-gray-600 dark:text-gray-400 dark:hover:text-white" [hidden]="!readonly"
                            (click)="openDrop('priority',taskData._id)"><mat-icon [ngStyle]="{color:taskData.priority}"
                                class="text-gray-500 hover:text-gray-900 w-6 h-6">tour</mat-icon></button>

                    </li>
                    <li>
                        <button type="button" class="text-gray-900  hover:text-white  focus:ring-4 
                        focus:outline-none font-medium rounded-md  text-center 
                        dark:border-gray-600 dark:text-gray-400 dark:hover:text-white " [hidden]="!readonly"
                            (click)="openDrop('date',taskData._id)">
                            <svg *ngIf="taskData.dueDate == 'NIL';else dueDate " style="width: 50px;"
                                class="w-6 h-6 text-gray-800 dark:text-gray-500 hover:text-gray-900" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm14-7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm-5-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4Z" />
                            </svg>
                            <ng-template #dueDate>
                                <p class="w-6 h-6 text-gray-800 dark:text-gray-500 hover:text-gray-900 "
                                    aria-hidden="true" style="width: 50px;padding-top: 7px;">
                                    {{taskData.dueDate |
                                    monthAndDate }}</p>
                            </ng-template>
                        </button>
                    </li>
                    <li>
                        <button [ngStyle]="{background:taskData.status}" type="button" class="text-gray-900  hover:text-white px-5 
                        font-medium   text-center bg-gray-500 dark:text-white dark:hover:text-gray-900"
                            style="height: 40px; width: 120px;" [hidden]="!readonly"
                            (click)="openDrop('status',taskData._id)">{{taskData.status |
                            status}}</button>
                    </li>
                    <li *ngIf="edit.id == taskData._id" >
                        <button type="button" (click)="saveTask(taskData._id)"  [hidden]="readonly"
                            class="text-gray-900  hover:text-white border border-gray-800 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-md px-3 py-1 mx-2 text-center dark:border-gray-600 dark:text-gray-600 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"><small>SAVE</small></button>

                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>