<div class="flex flex-col ">
    <app-auth-nav style="z-index: 1;"></app-auth-nav>
    <aside style="z-index: 0;"><app-side-bar></app-side-bar></aside>
</div>
<div class="p-4 sm:ml-64">
    <div class="flex justify-between items-center">
        <p class=" font-medium text-dark text-lg  dark:text-dark">Employees</p>
        <a routerLink="/space/addAssignee"
            class="flex justify-center items-center  p-2 text-gray-900 rounded-lg dark:text-dark hover:bg-gray-500 dark:hover:bg-gray-500 hover:text-white">
            <svg class="w-6 h-6 text-gray-800 dark:text-gray-800 hover:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                <path
                    d="M6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Zm11-3h-2V5a1 1 0 0 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 0 0 2 0V9h2a1 1 0 1 0 0-2Z" />
            </svg>
            <span class="ml-3"></span>
        </a>
    </div>
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">

        

    </div>
</div>