<div class="flex flex-col ">
   <app-chat-nav class="fixed w-full" style="z-index: 35;"></app-chat-nav>
   <aside class="" style="z-index: 32; "><app-chat-side-nav (messageData)="getMessage($event)"
         (chatersData)="getChaters($event)"></app-chat-side-nav>
   </aside>
</div>
<section class=" w-full ps-16 h-fit lg:h-full bg-zinc-900 flex">
   <div *ngIf="queryData.id !== undefined"
      class="p-4 mt-14 sm:ml-64 flex gap-4 mr-2 gap-x-6 flex-col md:flex-row w-full" style="height: 90vh;">
      <div
         class="p-4 h-full w-full md:w-3/4 flex flex-col grid content-between border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
         <div class="flex flex-col gap-4 mb-4 overflow-auto">
            <div class="flex flex-col gap-2 mb-2 " *ngFor="let data of messageArray">
               <div *ngIf="data.user == 'receiver' " class="">
                  <div class="flex flex-col justify-start w-fit max-w-md  bg-gray-400 rounded">
                     <small class="flex items-center w-fit  text-lg pt-1 px-2 rounded ">{{data.message}}</small>
                     <small class="flex items-center w-fit  pb-1 px-1 rounded ">{{data.time|
                        date:'shortTime'}}</small>
                  </div>
               </div>
               <div *ngIf="data.user == 'sender' " class="flex justify-end ">
                  <div class="flex flex-col max-w-md items-end justify-end bg-green-300 rounded ">
                     <small class="flex items-center w-fit  text-lg pt-1 px-2 rounded  ">{{data.message}}</small>
                     <small class="flex items-center w-fit  pb-1 px-1 rounded  ">{{data.time
                        | date:'shortTime'}}</small>
                  </div>
               </div>
            </div>
         </div>
         <div class="flex ">
            <textarea ngModel placeholder="Type a message" [(ngModel)]="messageText"
               class="w-full text-xl bg-gray-400 h-10 " name="message" id="message" cols="1" rows="10"></textarea>
            <button type="button" class="bg-gray-500 p-2 hover:bg-gray-900" role="button"
               (click)="sendMessage()">send</button>
         </div>
      </div>
      <div class="w-full hidden md:block max-w-sm w-1/4 rounded-lg shadow dark:bg-black dark:border-zinc-700">
         <div class="flex justify-end px-4 pt-4">
            <!-- <button id="dropdownButton" data-dropdown-toggle="dropdown"
               class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
               type="button">
               <span class="sr-only">Open dropdown</span>
               <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                  viewBox="0 0 16 3">
                  <path
                     d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
               </svg>
            </button> -->

            <div id="dropdown"
               class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
               <ul class="py-2" aria-labelledby="dropdownButton">
                  <li>
                     <a
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                  </li>
                  <li>
                     <a
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export
                        Data</a>
                  </li>
                  <li>
                     <a
                        class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="flex flex-col items-center pb-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="" alt="Bonnie image" />
             <!-- <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Bonnie Green</h5> -->
           <!-- <span class="text-sm text-gray-500 dark:text-gray-400">Visual Designer</span> -->
            <div class="flex mt-4 space-x-3 md:mt-6">
               <!-- <a
                  class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add
                  friend</a>
               <a
                  class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">Message</a> -->
            </div>
         </div>
      </div>

   </div>
</section>